[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodules/webgpu"]
	path = submodules/webgpu
	url = https://github.com/eliemichel/WebGPU-distribution.git
[submodule "submodules/wgpu"]
	path = submodules/wgpu
	url = https://github.com/gfx-rs/wgpu-native.git
[submodule "submodules/dawn"]
	path = submodules/dawn
	url = https://dawn.googlesource.com/dawn
	branch = chromium/7070
