[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodules/webgpu"]
	path = submodules/webgpu
	url = https://github.com/eliemichel/WebGPU-distribution.git
[submodule "submodules/glfw3webgpu"]
	path = submodules/glfw3webgpu
	url = https://github.com/eliemichel/glfw3webgpu.git
